.total {
    position: relative;
    /* right: 0%; */
    /* left: 37%; */
    top: 52%;
    /* width: fit-content; */
    text-align: center;
}


/* .divColor {
    width: 10px;
    height: 25px;
    margin-right: 6px;
} */